h2 {
    padding: 0px;
    margin: 8px;
}
h3 {
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    font-weight: bold;
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    float: left;
    width: 100%;
    height: 18em;
}
.left {
    float: left;
    width: 50%;
}
.right {
    float: left;
    width: 50%;
}
#output_wrapper {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}
#output {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
html {
    position: relative;
    min-height: 100%;
    background: black;
    color: #eee;
    scrollbar-color: #222 #555;
}

.float-child {
    width: 50%;
    float: left;
}
#pdfjs {
    height: 100%;
}
iframe {
    width: 100%;
    height: 100%;
}
